* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}



@font-face {
    font-family: 'Montserrat';
    /* Remplacez "MaPolice" par le nom que vous souhaitez donner à votre police */
    src: url('POLICE/Montserrat-Regular.ttf') format('truetype');
    /* Chemin vers votre fichier de police */
    /* Ajoutez d'autres déclarations de format pour prendre en charge différents types de fichiers de police */
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('POLICE/Montserrat-Bold.ttf');
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0%;
    margin: 0%;
}

header {
    display: flex;
    background-color: #DDF7C5;
    width: 100%;
    height: 65px;
}

header a img {
    /* display: inline-flex; */
    /* margin: 5.8% 15%; */
    display: flex;
    margin: 6% 15%;
    max-height: 60%;
    /* border: 1px solid #f9fefa; */
    cursor: pointer;
}


#lienacc {
    /* border: 1px solid #000; */
    cursor: default;
}



/* header img {

    /* width: 100%; */
/* } */

header div {
    /* float: right; */
    margin: auto 65%;
    display: flex;
    gap: 15px;
    /* align-items: center; */
    /* justify-content: end; */
    /* float: right;
    display: flex;
    align-items: center;
    margin: 0.5% auto; */
}

#inscription {
    width: 131px;
    height: 30px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: medium;
    background-color: #337C52;
    color: #DDF7C5;
    border-radius: 25px;
    border: 3px solid #337C52;
    font-weight: 600;
    font-size: 13.5px;
    font-style: normal;
    line-height: 22px;
    cursor: pointer;
}

#connexion {
    width: 131px;
    height: 30px;
    text-align: center;
    margin-right: 10px;
    font-family: 'Montserrat';
    font-size: medium;
    background-color: #DDF7C5;
    color: #337C52;
    border: 2.7px solid #337C52;
    border-radius: 25px;
    font-weight: 600;
    font-size: 13.5px;
    font-style: normal;
    line-height: 22px;
    cursor: pointer;
}

#titre {
    margin-top: 10%;
    text-align: center;
    /* border: 1px solid #000; */

}

#titre h1 {
    color: #01613B;
    font-size: 42px;
    font-weight: 600;
    line-height: 22px;
    font-family: "Montserrat-Bold";
}

form {
    /* display: block; */
    /* border: 1px solid #000; */
    margin: 3% auto;
    width: 80%;
    height: 30vh;
    justify-content: center;
}

.inputnormal {
    display: block;
    margin: 1% auto;
    width: 49%;
    height: 21%;
    border-radius: 13px;
    background: #E0DDDD;
    border: 1px solid #909090;
    border-radius: 13px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    padding-left: 2.4%;
}

#sub {
    display: block;
    margin: 5% auto;
    background: #01613B;
    border-radius: 21px;
    padding: 2px auto;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    cursor: pointer;
    width: 11%;
    height: 30px;
    border: none;
}