* {
    box-sizing: border-box;
    /* font-family: 'Montserrat'; */
}



@font-face {
    font-family: 'Montserrat';
    /* Remplacez "MaPolice" par le nom que vous souhaitez donner à votre police */
    src: url('POLICE/Montserrat-Regular.ttf') format('truetype');
    /* Chemin vers votre fichier de police */
    /* Ajoutez d'autres déclarations de format pour prendre en charge différents types de fichiers de police */
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('POLICE/Montserrat-Bold.ttf');
}

body {
    padding: 0%;
    margin: 0%;
}

header {
    width: 100%;
    height: 65px;
    background-color: #DDF7C5;
}

#petitmenu {
    float: right;
    display: flex;
    align-items: center;
    margin: 0.5% 2%;
}

#logo {
    float: left;
    width: 10%;
    height: 55%;
    margin: 0.85% 3% 3% 1.5%;
}
#rechercher {
    width: 150px;
    height: 28px;
    border: 3.3px solid #01613B;
    border-radius: 25px;
    background: #DDF7C5;
    font-weight: 500;
    font-size: 16px;
    color: #01613B;
    text-align: center;
    cursor: pointer;
    font-family: "Montserrat";

}

#rechercher img {
    width: 15px;
    height: 15px;
    float: left;
    margin: 2px auto;
}

#menu {
    float: right;
    width: 50px;
    height: 30px;
    background: none;
    margin: 1% 0.2%;
    border: none;
    cursor: pointer;
}

#fleche {
    height: 12px;
    width: 20px;
    display: inline;
}

#lolo {
    float: right;
    height: 45px;
    width: 45px;
    margin-left: 10%;
}


ul {
    position: absolute;
    list-style-type: none;
    background: #f2faeb;
    height: 200px;
    width: 250px;
    left: 79.9%;
    top: 7.3%;
    padding: 0%;
}

ul a li {
    height: 50px;
    width: 250px;
    text-align: left;
    padding: 15px 15px;
    color: #01613b;
}

ul a li:hover {
    background: #fff;
}


.bordure {
    border-bottom: 1px solid #909090;
    width: 250px;

}

.hidden {
    visibility: hidden;
}

ul a {
    text-decoration: none;
    color: #909090;
    font-weight: 500;
}

ul a li img {
    float: left;
    margin-right: 4.5%;
}

.droite {
    float: right;
}


/* h1 {
    margin: 12% auto;
    font-family: "Montserrat-Bold";
    font-size: 32px;
    line-height: 22px;
    font-weight: 500;
    color: #01613B;
} */

#titre {
    margin-top: 10%;
    text-align: center;
    /* border: 1px solid #000; */
    color: #01613B;


}

#titre h1 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 22px;
}

form {
    /* display: block; */
    /* border: 1px solid #000; */
    margin: 3% auto;
    width: 80%;
    height: 30vh;
    justify-content: center;
}

.inputnormal {
    display: block;
    margin: 1% auto;
    width: 48%;
    height: 22%;
    border-radius: 13px;
    background: #E0DDDD;
    border: 1px solid #909090;
    border-radius: 13px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    padding-left: 2.4%;
}

#sub {
    display: flex;
    margin: 5% auto;
    background: #01613B;
    border-radius: 21px;
    padding: 2px 20px;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    cursor: pointer;
    width: 110px;
    height: 30px;
    border: none;
}

input:focus {
    outline: #909090;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        margin: 0 auto;
    }
}